.container{padding: 10px 50px; max-width: 1250px; margin: 0 auto;}
.nav{height: 100%;}
.nav a{text-decoration: none; color: white !important;}
.nav a:hover{color: grey !important;}
#logo{vertical-align: middle; width: auto; height: 80px; margin-bottom: -65px;}
#navbutton{display:none;}
/*nav items on desktop*/
#nav-items {vertical-align: middle; text-align: right; padding-left: 0;}
#nav-items li{display: inline; list-style-type: none; padding: 5px 20px;}
.collapse{margin: 0; overflow-y: hidden; background: #0a314d;}

@media (max-width: 991.98px){ 
	.container{padding: 0 30px; max-width: 991.98px;}

	/*####################################################*/
	/*navbar*/
	#nav-items {text-align: left;}
	#nav-items li{display: block; padding: 10px 10px; }
	#logo{margin: 10px 0; height: 50px; width: auto;}
	#navbutton{display: inline; float: right; right: 10px; position: absolute;}
	.collapse{overflow-y: hidden; display: block; background: #0a314d; max-height: 0; transition: max-height 0.5s ease-in-out;}
	.collapse.show{overflow-y: hidden; max-height: 500px;}
	#icon{margin: 10px 0;}

	
}

/* banner navbar */

/*nav top*/
#nav-top{
	background:  #162e51 /*#C70039*/; 
	color: white;
}
.nav-top{
	display: flex; 
	align-items: center; 
	padding: 50px;
}
#logo{
	height: 80px; 
	width: auto;
}
#site-title{
	font-size: 32px;
	padding: 0px 10px; 
	font-family: 'Merriweather'; 
	text-decoration: none; 
	color: white;
}
#site-title:hover{
	text-decoration: underline;
}
#mobi-nav{
	display: none; 
	margin-left: auto; 
	text-decoration: none; 
	background: blue; 
	color: white; 
	padding: 10px;
}

#navbar-social-media{
	margin-left: auto;
}
#navbar-social-media li{
	display: inline; 
	list-style-type: none; 
	padding-right: 20px;
}


/*nav-menu*/
.nav-links li{
	display: inline; 
	list-style-type: none; 
	padding-right: 20px;
}
.nav-links a{
	text-decoration: none; 
	color: black; 
	font-weight: bold; 
	font-family: 'Arial';
}


@media (max-width: 991.98px){ 
	.container{
		padding: 10px 20px; 
		max-width: 991.98px;
	}
	
	/*nav-top*/
	#nav-top{
		padding: 10px;
	}
	#logo{
		height: 50px;
	}
	#site-title{
		font-size: 26px; 
		padding: 0 10px;
	}
}

@media (max-width: 767.98px) {
	.container{
		padding: 5px 15px; 
		max-width: 767.98px;
	}

	#mobi-nav{
		display: inline-block;
	}
	#nav-top{
		padding: 5px;
	}

	/*nav-menu*/
	.nav-links {
		display: none;
	}
	.nav-links.open{
		display: block;
	}
	.nav-links.open li{
		display: block; 
		padding-bottom: 10px;
	}
	
	#navbar-social-media {
		display: none;
	}
	#site-title{
		font-size: 20px; 
		padding: 0 10px;
	}

}

@media (max-width: 575.98px) {
	.container{
		padding: 5px 10px; 
		max-width: 575.98px;
	}
	#nav-top{
		padding: 0;
	}
	#site-title{
		font-size: 16px; 
	}
}


/* multilevel navbar */

html, body{margin: 0px; padding: 0px;width: 100%; height: 100%;}
*, *::before, *::after{box-sizing: border-box;}
.container{padding: 10px 50px; max-width: 1250px; margin: 0 auto;}
nav{width: 100%; height: 100vh; top: 0; z-index: 10;}

/*navbar-top*/
#navbar-top{background: #062135; height: 40px;}

/*navbar-shown*/
#navbar-shown{width: 100%; display: inline-block; background: #0a314d;}
#open-menu{width: auto; height: 30px; vertical-align: middle;  margin-right: 10px; display: inline-block;}
#site-logo{width: auto; height: 80px; vertical-align: middle; margin-right: 10px; margin-top: -50px; display: inline-block;}
#nav-topics {display: inline-block;}
#nav-topics li{display: inline;}
.nav-topics-links{color: white; text-decoration: none; text-transform:  uppercase; margin-right: 15px; font-size: 14.5px;}
.nav-topics-links:hover{color: grey;}

/*navbar-hidden*/
#nav-hidden-left{grid-area: nav-hidden-left; padding-left: 250px; overflow: auto;}
#nav-hidden-left ul{list-style-type: none; padding-left: 0px;}
#nav-hidden-left li{padding-bottom: 20px;}
#nav-hidden-left a{color: white; text-decoration: none;}
#nav-hidden-left a:hover{color: grey;}

#nav-hidden-right{grid-area: nav-hidden-right; padding-left: 100px; overflow: auto;}
#nav-hidden-right ul{list-style-type: none; padding-left: 0px;}
#nav-hidden-right li{padding-bottom: 20px; color: white;}
#nav-hidden-right a{color: white; text-decoration: none;}
#nav-hidden-right a:hover{color: grey;}
#nav-hidden-right h1{color: white; font-family: 'Georgia';}

#nav-hidden-items{display: grid; grid-template-columns: 1fr 1fr; grid-template-areas: "nav-hidden-left nav-hidden-right";}

#navbar-hidden{width: 100%; height: 100%; padding: 5px; background: #0a314d;}
#navbar-hidden.collapse{display: none;}
#navbar-hidden.display {display: block;}

@media(max-width: 991.98px){
	#navbar-top{background: #062135; height: 25px;}
	#nav-hidden-left{padding: 0px;}
	#nav-hidden-right{padding: 0px;}
	.container{padding: 0 30px; max-width: 991.98px;}
	#nav-topics{display: none;}
	#navbar-shown{padding: 5px; text-align: center;}
	#site-logo{width: auto; height: 60px; margin-right: 20px; margin-top: -20px;}
	#open-menu{width: auto; height: 25px; float: left; margin: 10px 0px;}
	#nav-hidden-items{display: grid; grid-template-columns: 1fr; grid-template-areas: "nav-hidden-left";}
}

